// Put here your email sending configurations!
export default {
  emailTransport: {
    // host: 'yoursmtpserver',
    // port: 25,
    // auth: { user: '####', pass: '####' }
    // You can create a test transport here: https://ethereal.email/create
  },
  emailOptions: {
    from: 'Your Name Here <example@example.com>'
  },
  sendDefautls: {
    fromAddress: 'nepasrepondre@jlm2017.fr',
    fromName: 'JLM 2017'
  },
  users: [
    {
      username: 'admin',
      password: 'password'
    }
  ],
  secret: 'cat keyboard',
  https: false
};
