extends layout

block content
  .container
    h3 Summary
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
        a.btn.btn-primary.btn-block(href=`/send/${id}/export` target="_blank") Export to CSV
    div(ic-src="/refresh_current_summary" ic-poll="2s")
